.header{
    background-color: #0D0D0D;

}

.headerBody{
    padding: 35px 0 35px 0;
    display: flex;
    justify-content: center;
}


.headerLogo{
    display: inline-block;
    width: 126px;
    height: 48px;

}